.hidden {
    display: none;
    visibility: hidden;
}

.one-of-three {
    width: 33%;
}

.one-of-two {
    width: 50%;
}

.one-of-four {
    width: 25%;
}

.three-of-four {
    width: 75%;
}

.two-of-three {
    width: 66%;
}

.col {
    float:left;
}

.wrapper {
    margin: auto;
    max-width: 1000px;
    width: 100%;
}

.bold {
    font-weight: 400;
}
