form.search {
    @include transition(all 0.2s ease);
    background: rgba(0,0,0,0.5);
    border-radius: 1rem;
    right: 14%;
    padding: 1rem 7rem 3rem 3rem;
    position: absolute;
    top: 42%;


    @include media(max-width 930px){
        left: 0;
        margin: 0 1rem 0 2.2rem;
        top: 35%;
        width: 90%;
    }

    @include media(max-width 700px){
        padding: 1rem 7rem 3rem 2rem;
    }

    @include media(max-width 643px){
        top: 72%;
    }

    @include media(max-width 515px){
        margin: 0 1rem 0 1.2rem;
    }

    label {
        color: white;
        font-size: 1.1rem;
        font-weight: 400;
        text-shadow: 1px 1px 1px $gray;
    }

    input {
        border-radius: 5px 0 0 5px;
        font-size: 1.5rem;
        position: relative;

        @include media(max-width 800px) {
            font-size: 1.25rem;
        }

        @include media(max-width 600px) {
            font-size: 0.95rem;
            padding: 0.8rem 0.5rem;
        }
    }

    button {
        border-radius: 0 5px 5px 0;
        margin: 3.6rem 2.3rem 0 0;
        padding: 1rem 0.75rem;
        position: absolute;
        right: 0;
        top: 0;

        @include media(max-width 800px) {
            padding: 0.8rem 0.75rem;
        }
    }
}

form.get-email {
    vertical-align: top;
    width: 32%;

    input {
        margin: 1em 0;
    }
}

input {
    border: $input-border-style;
    border-radius: 5px;
    padding: 0.5em;
    width: 100%;
}

label {
    font-family: 'Open Sans';
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.5rem;
}

button {
    background-color: $secondary-color;
    border: $input-border-style;
    border-radius: 10px;
    color: white;
    font-size: 1em;

    &:hover {
        @include transition(all 0.2s ease);
        background-color: lighten($secondary-color, 10);
        cursor: pointer;
    }
}