body {
    background: url('../images/background-BW.jpg') no-repeat top center fixed;
    margin: auto;
    min-width: 480px;
    padding: auto;
}

#style-2 {
    background: url("../images/background-3.jpg") no-repeat top center fixed;
    background-color: $cream;

    header h1 {
        text-shadow: 0px 0px 4px $cream;
    }

    .features {
        background-color: white;
    }

    footer {
        border-bottom: 1px solid $light-gray;
        border-top: 1px solid $light-gray;
    }
}

header {
    margin: auto;
    max-width: 1000px;
    padding: 0.5rem 0 0.75rem 0;
    position: relative;

    div.logo {
        @include inline-block;
        margin-right: 0.5rem;
        min-width: 80px;
        padding: 0.5rem 0.25rem 0 0.5rem;
        width: 9%;

        img {
            @include transition(all 0.2s ease);
            border: 1px solid lighten($tan, 20);
            min-width: 50px;
            width: 100%;

            &:hover {
                border: 1px solid $tan;
            }
        }
    }

    .sign-in {
        margin-right: 2rem;
        padding-top: 0.5em;
        position: absolute;
        top: 0;
        right: 0;
    }

    h1 {
        @include inline-block;
        font-family: 'ashburylight';
        font-size: 2.5rem;
        line-height: 2rem;
        margin-bottom: 30px;
        margin-top: 45px;
        vertical-align: top;

        @include media(max-width 1000px){
            font-size: 2.5rem;
        }

        @include media(max-width 550px){
            font-size: 2.15rem;
        }
    }
}

section {
    margin: auto;
    max-width: 1000px;
}

.features, .callouts, .updates {
    div {
        @include inline-block;
        padding: 0;
        width: 32%;
    }
}

.rotator {
    height: 639px;
    margin: auto;
    position: relative;

    li {
        position: absolute;
        opacity: 0;
        width: 100%;

        &:first-child {
            opacity: 1;
        }
    }

    img {
        background: white;
        padding: 1em;
        width: 100%;
    }
}

.search {
    z-index: 999;
}

.features {
    background-color: $lightest-gray;
    border-bottom: $background-border-style;
    border-top: $background-border-style;
    margin: auto;
    max-width: none;
    padding: 3rem 1rem;
    position: relative;

    h1 {
        font-size: 1.8rem;
    }

    div.wrapper {
        width: 100%;
    }

    a:hover {
        div {
            @include transition(all 0.2s linear);
            border: 2px solid lighten($gray, 50);
            opacity: 1;
        }
    }
}

div.program {
    border: 2px solid white;
    height: 200px;
    opacity: 0.9;

    @include media(max-width 700px) {
        margin: 0.5rem 1rem;
        width: 94%;
    }

    &.adult {
        background: url('../images/adult-class.jpg') no-repeat;
        margin-top: 3rem;
    }

    &.teen {
        background: url('../images/teens.jpg') no-repeat;
    }

    &.kids {
        background: url('../images/kids.jpg') no-repeat;
    }

    p {
        color: white;
        font-size: 2.5rem;
        margin-top: 2rem;
        text-align: center;
        text-shadow: 1px 1px 3px #222;
    }
}

.events {
    padding: 3rem 0;
    text-align: center;

    a:hover {
        div {
            @include transition(all 0.2s linear);
            border: 2px solid lighten($gray, 50);
            opacity: 1;
        }
    }
}

div.event {
    @include inline-block;
    border: 2px solid white;
    height: 150px;
    margin: 5px 0px;
    opacity: 0.9;
    vertical-align: bottom;
    width: 24%;

    @include media(max-width 900px) {
        width: 48%;
    }

    p {
        background: rgba(0,0,0,0.5);
        color: white;

        &:first-child {
            margin-top: 6rem;
        }
    }
}

#event-1 {
    background: url('../images/event-1.jpg') no-repeat;
    background-size: 100%;
    margin-top: 3rem;
}

#event-2 {
    background: url('../images/event-2.jpg') no-repeat;
    background-size: 100%;
}

#event-3 {
    background: url('../images/event-3.jpg') no-repeat;
    background-size: 100%;
}

#event-4 {
    background: url('../images/event-4.jpg') no-repeat;
    background-size: 100%;
}

footer {
    background-color: white;
    margin-bottom: 3rem;
    overflow: auto;
    width: 100%;

    section {
        margin-bottom: 3rem;
    }
}

.social-media {
    @include inline-block;
}

.links {
    margin-right: 1rem;
    width: 46%;

    li {
        @include transition(all 0.3s ease);
        border-bottom: 1px solid $light-gray;
        padding: 0.15rem;

        &:hover {
            background-color: $lightest-gray;
            cursor: pointer;

            a {
                color: $highlight-color;
            }
        }
    }
}
