nav {
    @include inline-block;
    padding: 0 1em;

    h1 {
        vertical-align: middle;
    }

    li {
        @include inline-block;
        margin: 0 10px;
    }
}

div {
    display: block;
    padding: 1em;

        li  {
        @include inline-block;
        list-style: none;
        padding: 1em;
        vertical-align: top;
        width: 12%;

        img {
            width: 100%;
        }

        p {
            margin-top: 0;
        }
    }
}

.secondary-nav {
    li {
        @include inline-block;
        text-align: center;
        width: 33%;
    }
}
