// Colors

$lightest-gray: #fcfcfc;
$light-gray: #f7f7f7;
$dark-gray: #323232;
$tan: #DFC086;

$primary-color: $tan;
$secondary-color: $dark-gray;

$font-color: $secondary-color;

// Borders

$background-border-style: 1px solid $light-gray;
$input-border-style: 1px solid $secondary-color;