// Colors

$cream: #FDF9F2;
$lightest-gray: #f7f7f7;
$light-gray: #ddd;
$gray: #483F35;
$dark-gray: #100805;
$tan: #D8AD5D;
$dark-tan: darken($tan, 5);
$green: #2DD963;

$primary-color: $tan;
$secondary-color: $dark-gray;
$highlight-color: $green;

$font-color: $secondary-color;

// Borders

$background-border-style: 1px solid $light-gray;
$input-border-style: 1px solid $secondary-color;