@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* RESETS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.icon-facebook:before {
  content: '\e805'; }

/* '' */
.icon-twitter:before {
  content: '\e806'; }

/* '' */
.icon-flickr:before {
  content: '\e804'; }

/* '' */
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?28976550");
  src: url("../fonts/fontello.eot?28976550#iefix") format("embedded-opentype"), url("../fonts/fontello.svg?28976550#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.hidden {
  display: none;
  visibility: hidden; }

.one-of-three {
  width: 33%; }
  @media screen and (max-width: 850px) {
    .one-of-three {
      margin: 1.5rem 0;
      width: 50%; } }

.one-of-two {
  width: 50%; }

.one-of-four {
  width: 25%; }

.three-of-four {
  width: 75%; }

.two-of-three {
  width: 66%; }

.col {
  float: left; }

.wrapper {
  margin: auto;
  max-width: 1000px;
  width: 100%; }

.bold {
  font-weight: 400; }

nav {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  background-color: #d8ad5d;
  width: 100%; }
  nav h1 {
    vertical-align: middle; }
  nav ul {
    margin: auto;
    position: relative;
    max-width: 1000px; }
    nav ul li {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      border-left: 1px solid #d3a348;
      border-right: 1px solid #d3a348;
      padding: 0.75em;
      text-align: center;
      vertical-align: middle;
      width: 24%; }
      nav ul li:hover {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: #d3a348; }
      nav ul li:first-child {
        border-left: 1px solid #d3a348; }
      nav ul li a {
        color: white;
        font-size: 1.1rem; }
        @media screen and (max-width: 590px) {
          nav ul li a {
            font-size: 1rem; } }
        nav ul li a:hover {
          color: white; }
        nav ul li a:active section.nav-dropdowns div {
          display: block; }

section.nav-dropdowns {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background-color: rgba(242, 204, 126, 0.2);
  max-width: none;
  width: 100%; }
  section.nav-dropdowns div {
    display: none;
    max-width: 1000px;
    margin: auto;
    padding: 1em; }
    section.nav-dropdowns div ul {
      padding: 0 1em; }
      @media screen and (max-width: 720px) {
        section.nav-dropdowns div ul {
          padding: 0; } }
      section.nav-dropdowns div ul li {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        border: 1px solid rgba(242, 204, 126, 0.2);
        list-style: none;
        margin-bottom: 0.5rem;
        padding: 0.3em;
        vertical-align: top;
        width: 19.5%; }
        section.nav-dropdowns div ul li:hover {
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;
          background-color: rgba(242, 204, 126, 0.3);
          border: 1px solid #d8ad5d;
          color: black; }
        @media screen and (max-width: 720px) {
          section.nav-dropdowns div ul li {
            width: 32%; } }
        section.nav-dropdowns div ul li a {
          opacity: 0.9; }
          section.nav-dropdowns div ul li a:hover {
            opacity: 1; }
        section.nav-dropdowns div ul li img {
          margin-bottom: 0.25rem;
          width: 100%; }
        section.nav-dropdowns div ul li p {
          font-size: 0.8em;
          margin-top: 0; }

.secondary-nav li {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  text-align: center;
  width: 33%; }

body {
  background: url("../images/background-BW.jpg") no-repeat top center fixed;
  margin: auto;
  min-width: 480px;
  padding: auto; }

header {
  margin: auto;
  max-width: 1000px;
  padding: 0.5rem 0 0.75rem 0;
  position: relative; }
  header div.logo {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    margin-right: 0.5rem;
    min-width: 80px;
    padding: 0.5rem 0.25rem 0 0.5rem;
    width: 9%; }
    header div.logo img {
      min-width: 50px;
      width: 100%; }
  header .sign-in {
    margin-right: 2rem;
    padding-top: 0.5em;
    position: absolute;
    top: 0;
    right: 0; }
  header h1 {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    font-family: 'ashburylight';
    font-size: 2.5rem;
    line-height: 2rem;
    margin-bottom: 30px;
    margin-top: 45px;
    vertical-align: top; }
    @media screen and (max-width: 1000px) {
      header h1 {
        font-size: 2.5rem; } }
    @media screen and (max-width: 550px) {
      header h1 {
        font-size: 2.15rem; } }

section {
  margin: auto;
  max-width: 1000px; }

.features div, .callouts div, .updates div {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  padding: 0;
  width: 32%; }

.rotator {
  height: 639px;
  margin: auto;
  position: relative; }
  .rotator li {
    position: absolute;
    opacity: 0;
    width: 100%; }
    .rotator li:first-child {
      opacity: 1; }
  .rotator img {
    background: white;
    padding: 1em;
    width: 100%; }

.search {
  z-index: 999; }

.features {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin: auto;
  max-width: none;
  padding: 3rem 1rem;
  position: relative; }
  .features h1 {
    font-size: 1.8rem; }
  .features div.wrapper {
    width: 100%; }
  .features a:hover div {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border: 2px solid #c8bfb4;
    opacity: 1; }

div.program {
  border: 2px solid white;
  height: 200px;
  opacity: 0.9; }
  @media screen and (max-width: 700px) {
    div.program {
      margin: 0.5rem 1rem;
      width: 94%; } }
  div.program.adult {
    background: url("../images/adult-class.jpg") no-repeat;
    margin-top: 3rem; }
  div.program.teen {
    background: url("../images/teens.jpg") no-repeat; }
  div.program.kids {
    background: url("../images/kids.jpg") no-repeat; }
  div.program p {
    color: white;
    font-size: 2.5rem;
    margin-top: 2rem;
    text-align: center;
    text-shadow: 1px 1px 3px #222; }

.events {
  padding: 3rem 0;
  text-align: center; }
  .events a:hover div {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border: 2px solid #c8bfb4;
    opacity: 1; }

div.event {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  border: 2px solid white;
  height: 150px;
  margin: 5px 0px;
  opacity: 0.9;
  vertical-align: bottom;
  width: 24%; }
  @media screen and (max-width: 900px) {
    div.event {
      width: 48%; } }
  div.event p {
    background: rgba(0, 0, 0, 0.5);
    color: white; }
    div.event p:first-child {
      margin-top: 6rem; }

#event-1 {
  background: url("../images/event-1.jpg") no-repeat;
  background-size: 100%;
  margin-top: 3rem; }

#event-2 {
  background: url("../images/event-2.jpg") no-repeat;
  background-size: 100%; }

#event-3 {
  background: url("../images/event-3.jpg") no-repeat;
  background-size: 100%; }

#event-4 {
  background: url("../images/event-4.jpg") no-repeat;
  background-size: 100%; }

footer {
  background-color: white;
  margin-bottom: 3rem;
  overflow: auto;
  width: 100%; }
  footer section {
    margin-bottom: 3rem; }

.social-media {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }

.links {
  margin-right: 1rem;
  width: 46%; }
  .links li {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-bottom: 1px solid #dddddd;
    padding: 0.15rem; }
    .links li:hover {
      background-color: #f7f7f7;
      cursor: pointer; }
      .links li:hover a {
        color: #2dd963; }

@font-face {
  font-family: 'ashburylight';
  src: url("../fonts/AshburyLig-webfont.eot");
  src: url("../fonts/AshburyLig-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AshburyLig-webfont.woff") format("woff"), url("../fonts/AshburyLig-webfont.ttf") format("truetype"), url("../fonts/AshburyLig-webfont.svg#ashburylight") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 100%; }

body {
  font-family: 'Open Sans'; }

h1 {
  color: #100805;
  font-size: 2.25rem;
  line-height: 3rem; }

p, a, h2, h3, h4 {
  color: #100805; }

p {
  line-height: 1.5rem; }

h2 {
  font-size: 1.5rem;
  font-weight: 300; }

a {
  text-decoration: none; }
  a:hover {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #2dd963; }

.rotator h2 {
  font-family: 'Open Sans';
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 4rem;
  margin: 2.5rem 1rem;
  text-align: center; }
  @media screen and (max-width: 745px) {
    .rotator h2 {
      line-height: 3rem; } }
  @media screen and (max-width: 550px) {
    .rotator h2 {
      font-size: 1.5rem; } }

.catchphrase {
  font-style: italic;
  font-weight: 400;
  white-space: nowrap; }

.date {
  font-size: 0.8rem;
  text-transform: uppercase; }

.features {
  line-height: 3rem;
  text-align: center; }

.social-media {
  font-size: 2.5rem; }

footer {
  font-size: 0.8rem;
  padding: 1rem; }
  footer a, footer p {
    color: #100805;
    line-height: 2rem; }
  footer h2 {
    color: #100805;
    line-height: 2.5rem; }

form.search {
  background: rgba(0, 0, 0, 0.5);
  right: 14%;
  padding: 1rem 7rem 3rem 3rem;
  position: absolute;
  top: 42%; }
  @media screen and (max-width: 930px) {
    form.search {
      left: 0;
      margin: 0 1rem 0 2.2rem;
      top: 35%;
      width: 90%; } }
  @media screen and (max-width: 700px) {
    form.search {
      padding: 1rem 7rem 3rem 2rem; } }
  @media screen and (max-width: 643px) {
    form.search {
      top: 72%; } }
  @media screen and (max-width: 515px) {
    form.search {
      margin: 0 1rem 0 1.2rem; } }
  form.search label {
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    text-shadow: 1px 1px 1px #483f35; }
  form.search input {
    font-size: 1.5rem;
    position: relative; }
    @media screen and (max-width: 800px) {
      form.search input {
        font-size: 1.25rem; } }
    @media screen and (max-width: 600px) {
      form.search input {
        font-size: 0.95rem;
        padding: 0.8rem 0.5rem; } }
  form.search button {
    margin: 3.6rem 2.3rem 0 0;
    padding: 1rem 0.75rem;
    position: absolute;
    right: 0;
    top: 0; }
    @media screen and (max-width: 800px) {
      form.search button {
        padding: 0.8rem 0.75rem; } }

form.get-email {
  margin: 1rem 0;
  vertical-align: top; }
  form.get-email input {
    margin: 0.5rem 0 1.25em 0; }
  form.get-email button {
    padding: 0.5rem; }
    form.get-email button:hover {
      background-color: #2dd963;
      border-color: #2dd963; }

input {
  border: 1px solid #100805;
  padding: 0.5em;
  width: 100%; }

label {
  font-family: 'Open Sans';
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem; }

button {
  background-color: #100805;
  border: 1px solid #100805;
  color: white;
  font-size: 1em; }
  button:hover {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #371b11;
    cursor: pointer; }
